@layer base {
@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NotoSansThai-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/NotoSansThai-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NotoSansThai-Bold.woff2') format('woff2');
  font-display: swap;
}

}
